{% extends 'base.html.twig' %}

{% block title %}Agent index
{% endblock %}

{% block body %}
	<main id="main-content" class="agent-bg">
		<div class="map-child">

			<h1>Liste des agents</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for agent in agents %}
						<tr>
							<td>{{ agent.id }}</td>
							<td>{{ agent.name }}</td>
							<td>
								<button>
									<a href="{{ path('app_agent_edit', {'id': agent.id}) }}">edit</a>
								</button>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Pas d'agent trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button>
				<a href="{{ path('app_agent_new') }}">Create new</a>
			</button>

		</div>
	</main>
{% endblock %}
