{% extends 'base.html.twig' %}

{% block title %}Map index{% endblock %}

{% block body %}
    <main id="main-content" class="map-bg">
    <div class="map-child">
    <h1>List des Cartes</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td>{{ map.name }}</td>
                <td>
                <button>
                    <a href="{{ path('app_map_edit', {'id': map.id}) }}">editer</a>
                </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de carte trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button>
        <a href="{{ path('app_map_new') }}">Ajouter carte</a>
    </button>
    </div>
    </main>
{% endblock %}
