{% extends 'base.html.twig' %}

{% block title %}New Map
{% endblock %}

{% block body %}
	<main id="main-content" class="map-bg">
		<div class="map-child">

			<h1>Create new Map</h1>

			{{ include('map/_form.html.twig') }}

			<button>
				<a href="{{ path('app_map_index') }}">Retour à la liste</a>
			</button>

		</div>
	</main>
{% endblock %}
