{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
	<main id="main-content" class="classe-bg">
		<div class="map-child">

    <h1>Liste des Classe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.name }}</td>
                <td>
                <button>
                    <a href="{{ path('app_classe_edit', {'id': classe.id}) }}">Editer</a>
                </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune classe trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button>
    <a href="{{ path('app_classe_new') }}">Créer classe</a>
</button>
</div>
</main>
{% endblock %}
