{% extends 'base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}
	<main id="main-content" class="classe-bg">
		<div class="map-child">

    <h1>Create new Classe</h1>

    {{ include('classe/_form.html.twig') }}
<button>
    <a href="{{ path('app_classe_index') }}">Retour à la liste</a>
        </button>
        </div>
    </main>
{% endblock %}
