{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
    <h1>Notes</h1>
    <section id="note">
        {% for note in notes %}
        <div class="note">
            <p>{{ note.text }}</p>
            <div>
                <a href="{{ path('app_note_show', {'id': note.id}) }}">show</a>
                <a href="{{ path('app_note_edit', {'id': note.id}) }}">edit</a>
            </div>
        </div>
        {% else %}
        <div class="note">
            <p>Pas de note</p>
        </div>
        {% endfor %}
    </section>
    <button>
        <a href="{{ path('app_note_new') }}">Créer note</a>
    </button>
{% endblock %}
