{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
	<main id="main-content" class="note-bg">
		<div class="map-child">

    <h1>Créer une nouvelle note</h1>

    {{ include('note/_form.html.twig') }}
<button>
    <a href="{{ path('app_note_index') }}">Retour à la liste</a>
        </button>
        </div>
    </main>
{% endblock %}
